body {

    font-family: Arial, sans-serif;

    margin: 0;

    background: linear-gradient( #1c1027,#202c52, rgb(7, 2, 19) );

    color: #ffffff;

    font-family: 'Lora', serif;

}

.fixed-header {

    position: fixed;

    width: 100%;

    background-color: #405d94;

    color: #fff;

    padding: 10px 20px;

    text-align: center;

    font-family: 'Ubuntu', sans-serif;

}

.logo{ width: 50px;

}




nav li {

    display: inline;

    margin-right: 2rem;

    font-size: 19px;
        
    
}

nav a {

    color: #fff;

    text-decoration: none;

    transition: 300ms linear 0s;

    

}

 a:hover {

    font-size: 21px;

    padding: 1%;

    background-color: #211b31;

    border-radius: 20px;

}

#conteudo {

    font-size: 22px;

    padding: 5%;

    

}

#conteudo h2 {

    text-align: center;

    font-family: 'Merriweather Sans', sans-serif;

}

img{

    width: 60%;

    margin: 0% 2% 2% 0;

    float: left;

}

.section1 {

    display: grid;

    grid-template-columns: 33% 33% 33%;

    text-align: center;

    padding: 2%;

    

    

}

.titulo { 

    display: block;

    font-size: 35px;

    text-align: center;

    padding: 2%;

    margin-top: 8%;

    font-family: 'Merriweather Sans', sans-serif;

    

    

}

.section1 div  { 

    width: 60%;

    margin: 0 10% 10% 10%;

    background-color: #4b3a5f;

    padding: 5%;

    border-radius: 20px;

    

}

.section2 {

    display: grid;

    grid-template-columns: 50% 50%;

    

}

.section2 p {

 padding: 20%;
 
 font-size: 19px;

 text-align: left;

}

.mapa { 

  align-items: center;

  width: 100%;

  display: flex;

  justify-content: center;

  

   }


   

#duvidas {

    align-items: center;

    padding: 2%;

    width: 100%;

    justify-content: center;

    margin-bottom: 5%

}

#duvidas details {

    display: block;

    margin: 0 0 0 20px;

    transition: 5s;

}

summary {

    background-color: #161d39;

    padding: 1%;

    border: 1px solid black;

    width: 50%;

    cursor: pointer;

    transition: 7s ease-in 0.3s ;

    

}

#duvidas details p {

    background-color: #4d194c;

    padding: 1%;

    width: 50%;

    margin-bottom: ;

}




footer {

    

    }
