header {
    margin: 0 auto;
    background-color: rgb(140, 140, 192);
}

nav li {
    display: inline;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 2em;
}

nav ul {
    text-align: center;
    font-family: Roboto Slab;
    padding: 1em;
}

.fixed-head {
    text-decoration: none;
}

img {
    width: 20%;
}

.ip {
    display: inline;
}
